<%- include('includes/head.ejs') %>
    <form action="/users" method="POST">
      <input name="user" placeholder="enter name" />
      <button class="submit">Submit</button>
    </form>
  </body>
</html>
