<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
  </head>
  <body>
    <ul>
      <% if (users.length > 0) { 
        for (user of users) { %>
        <li><%= user %></li>
      <% }} else { %>
        <li><h1>No Users</h1></li>
      <% } %>
    </ul>
  </body>
</html>